{% extends 'base.html' %} 
{% block content %}

  <div class="flex flex-col lg:flex-row lg:justify-evenly lg:align-middle h-dvh">
    

    <div
      id="menu"
      class="menu mt-6 menu-horizontal lg:menu-vertical text-lg flex flex-row lg:flex-col align-middle justify-evenly lg:justify-start bg-base-200 rounded-box h-fit"
      hx-boost="true"
    >
      <li><a href="{%url 'ranking' %}">Rankings</a></li>
      <li><a href="{%url 'fixtures' %}">Fixtures</a></li>
    </div>




    <div id='content' class="flex justify-center px-8 h-5/6 order-last lg:order-none lg:my-6">

      {% if 'ranking' in request.path %}

          {% include 'partials/ranking_table.html' %}

      {% elif 'fixture' in request.path %}
      
          {% include 'partials/fixtures_list.html' %}
      
      {% endif %}
    </div>


    <div class="flex flex-row my-6 lg:flex-col gap-8 justify-evenly lg:justify-start lg:w-44">
      
      {% if 'fixture' in request.path %}
        <div class="flex order-last lg:order-none flex-1 lg:flex-none items-center justify-center">
          <a role='button' class="btn btn-success lg:w-full" hx-boost=True href="{% url 'fixture_add' %}">
              + Add fixture
          </a>
        </div>
      {% endif %}
      
      <form
        class="form-control flex flex-row flex-1 lg:flex-none justify-evenly order-1 lg:order-none lg:justify-start lg:flex-col gap-8"
        hx-include="this"
        hx-trigger="change, load from:input"
        hx-target="#content"
        {% if 'ranking' in request.path %}
          hx-get="{% url 'ranking_table' %}"
        {% elif 'fixture' in request.path %}
          hx-get="{% url 'fixtures_list' %}"
        {% endif %}
      >
        
        <!-- Season selection filter -->
        <div class="flex items-center lg:w-full gap-2">
          <span class="text text-lg">Season</span>
          <select class="select select-sm select-bordered bg-neutral rounded-xl w-fit" name="filter_season">
            {% for season in seasons.all %}
            <option value="{{season.pk}}">{{ season.year }}</option>
            {% endfor %}
            <option value="all_seasons">All seasons</option>
          </select>
        </div>

        <!-- Over 50% attendace filter -->
        {% if 'ranking' in request.path %}
          <div class="flex align-middle w-44">
            <label class="label cursor-pointer">
              <span class="label-text">Only players with 50% attendance</span>
              <input type="checkbox" class="toggle" name="filter_attendance" unchecked />
            </label>
          </div>
        {% endif %}
        
      </form>
    </div>

  </div> 
{% endblock %}
