<!--  -->
{% extends 'base.html' %}
<!--  -->
{% block content %}

<!-- Nav menu component -->
{% include 'components/menu.html' %}

<div
  class="flex justify-center lg:my-6 order-last lg:order-2 overflow-auto max-h-svh"
>
  <div id="ranking_table" class="">
    {% include 'partials/ranking_table.html' %}
  </div>
</div>

<div id="filters" class="flex order-2 lg:order-3">
  <form
    class="form-control w-full flex flex-row justify-evenly items-center-center lg:justify-start lg:flex-col lg:my-6"
    hx-get="{% url 'ranking_table' %}"
    hx-trigger="change, load  from:body #season, #attendance"
    hx-target="#ranking_table"
    hx-include="#season, #attendance"
  >
    <!-- Season selection filter -->
    {% include 'filters/season_selection.html' %}

    <!-- Over 50% attendace filter -->
    {% include 'filters/toggle_attendance.html' %}
  </form>
</div>

{% endblock %}
