{% extends 'base.html' %}

{% block content %}
  <select class="w-full select select-bordered" 
    name="season" 
    hx-get="{% url 'ranking_table' %}"
    hx-trigger="change"
    hx-target="#ranking_table"
    >

    <option disabled selected>Select the season...</option>
      <option value="all_seasons">All seasons</option>
    {% for season in seasons.all %}
      <option value="{{season.pk}}">{{ season.year }}</option>
    {% endfor %}

  </select>

<div id="ranking_table">
  {% include 'partials/ranking_table.html' %}
</div>

{% endblock %}