
{% block content %}

<div class="flex w-full h-full justify-center">
    <div class="flex w-full h-full flex-1">
        <canvas id="myChart" style="position: relative; height:40vh; width:80vw"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{rounds}},
        
        datasets:[{
            label: [1],
            data: [1,2,3],
            borderWidth: 1
          },]
        
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
      }
    });
  </script>
  
{% endblock %}
